<div class="row">
  <div class="col-md-3">
    <%= render partial: 'layouts/categories_list', locals: {categories: @categories} %>
    <%= render partial: 'layouts/stores_list', locals: {stores: @stores} %>
  </div>
  <div class="col-md-9">

    <div class="row text-center">
      <div class="col-md-12">
        <p><%= will_paginate @products %></p>
      </div>
    </div>

    <%= page_entries_info @products, model: 'product' %>

    <%= render partial: 'layouts/products_list', locals: {products: @products} %>

    <div class="row text-center">
      <div class="col-md-12">
        <p><%= will_paginate @products %></p>
      </div>
    </div>
  </div>
</div>