<div class="row">
  <div class="col-md-3">
    <%= render partial: 'layouts/categories_list', locals: {categories: @categories} %>
    <%= render partial: 'layouts/stores_list', locals: {stores: @stores} %>
  </div>

  <div class="col-md-9">

    <div class="row">
      <div class="col-md-12">
        <div class="back-links">
          <p>Categories >> <%= @categories[@product['Category']]['name'] %></p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <div class="col-md-12 col-sm-12">

                <%= image_tag @images[:main_image], class: 'img-responsive center-block' %>

              </div>
            </div>

            <% @images[:secondary_images].each do |image| %>

              <div class="item">
                <div class="col-md-12 col-sm-12">
                  <%= image_tag image, class: 'img-responsive center-block' %>
                </div>
              </div>

            <% end %>
            <!-- -->

          </div>


          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarouselProductImgs" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

      </div>


      <div class="col-md-7 desc span_3_of_2">
        <h2><%= @product['Description'] %> </h2>

        <%
           price_liquid = @product['Price']
           price_with_discount = price_liquid - @product['Discount']/100 * @product['Price']
           price_without_discount = (price_liquid* (1 + @product['IVAValue']/100)) + @product['IECValue']
           price_with_iva = price_with_discount * (1 + @product['IVAValue']/100)
           price = price_with_iva + @product['IECValue']
        %>
        <div class="price">
          <p>Price: <span><%= '%.2f' % price %> <%= @product['Currency'] %></span></p>
        </div>
        <div>
          <p>IVA: <span><%= @product['IVAValue'] %>%</span>
            <% if (@product['IECValue']) %>
                IEC: <span><%= '%.2f' % @product['IECValue'] %> <%= @product['Currency'] %></span>
            <% end %>
          </p>
        </div>


        <% if @product['Discount'] > 0.0 %>
            <p class="discount">On sale: <%= '%.2f' % @product['Discount'] %>%  (<del><%= '%.2f' % price_without_discount %>€</del>)</p>
        <% end %>

        <div class="button" style="float:left">
          <span>
            <%= link_to 'Add to Cart', {controller: 'shopping_carts', action: 'add_item', item: @product['CodProduct']}, :method => :post %>
          </span>
        </div>
        <div class="clear"></div>

      </div>


    </div>


    <div class="clear"></div>


    <div class="content_bottom">
      <div class="heading">
        <h3>Related Products</h3>
      </div>
      <div class="clear"></div>
    </div>
    <%= render partial: 'layouts/products_list', locals: {products: @related_products} %>
  </div>


</div>

























