<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="back-links">
      <p>My account >> Order >>
        <%= @order['CodOrder'] %></p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <hr>
  </div>
</div>


<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default order_list_products box-shadow--16dp">
      <table class="table">

        <tr class="table-row-highlighted table-cells-border">
          <th>Product</th>
          <th class="text-center">Price</th>
          <th class="text-center">Quantity</th>
          <th class="text-right">Total product price</th>
        </tr>

        <!-- PRODUCT -->
        <% @order['Items'].each do |product| %>
            <%
               quantity = product['Quantity']
               price_unit = product['UnitPrice']
               discount_perc = product['DiscountPerc']
               discount_unit = product['DiscountUnit']
               iva_perc = product['TaxaIva']
               iva_unit = (iva_perc/100.0)*(price_unit-discount_unit)
               valor_iec = product['ValorIEC']

               product_total_liquid = product['TotalLiq']
               product_total_discount = product['TotalDiscount']
               product_total_iva = product['TotalIva']

            %>
            <%= render partial: 'layouts/order_items_list_item', locals: {product: product, show_details: true, quantity: quantity, price_unit: price_unit, discount_perc: discount_perc, discount_unit: discount_unit, iva_perc: iva_perc, iva_unit: iva_unit,
                                                                          valor_iec: valor_iec, product_total_liquid: product_total_liquid, product_total_iva: product_total_iva, product_total_discount: product_total_discount} %>

        <% end %>
        <!-- /PRODUCT -->


        <tr class="table-row-highlighted">
          <th colspan="3">Subtotal</th>
          <th class="text-right"><%= "#{@order['SubTotal']}€" %></th>
        </tr>

        <tr class="table-row-highlighted">
          <th colspan="3">Total IEC</th>
          <th class="text-right"><%= "#{@order['TotalIEC']}€" %></th>
        </tr>

        <tr class="table-row-highlighted">
          <th colspan="3">Total IVA</th>
          <th class="text-right"><%= "#{@order['TotalIva']}€" %></th>
        </tr>

        <tr class="table-row-highlighted table-cells-border">
          <th colspan="3">
            Shipping
            <br>

            <p style="padding-left:5px">
              <small>Method: CTT</small>
            </p>
          </th>
          <th class="text-right"><%= "#{@order['TotalShippingCosts']}€" %></th>
        </tr>


        <tr class="table-row-highlighted table-cells-border">
          <th colspan="3" style="border-top: 1px solid #B81D22">Total discount</th>
          <th class="text-right" style="border-top: 1px solid #B81D22"><%= "-#{@order['TotalDiscount'].round(2)}€"%></th>
        </tr>

        <tr class="table-row-highlighted">
          <th colspan="3" class="text-right"><h2><strong>Final Billing Value</strong></h2></th>
          <th class="text-right"><h2><strong><%= @order['Total'].round(2) %>€</strong></h2></th>
        </tr>

      </table>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
  </div>
</div>

