<% is_show_details = defined?(show_details) && show_details %>
<% is_update_form = defined?(update_form) && update_form %>

<tr>
  <td>
    <div class="media">
      <div class="media-left">
        <a href="#">
          <%= image_tag get_image_for_product(product), class: 'media-object', width: '50%' %>
        </a>
      </div>
      <div class="media-body" style="width:50%">
        <a href="#"><h4 class="media-heading order-product_name"><%= product['Description'] %></h4></a>
      </div>
    </div>
  </td>
  <td class="text-center">

    <% if is_show_details %>
        <!-- Checkout preview -->
        <%= "Unit price: #{price_unit}€" %>
        <% if valor_iec > 0.0 %>
            <br>--
            <br>IEC:
            <%= valor_iec %>
        <% end %>
        <% if discount_unit > 0 %>
            <br>--
            <br>Discount:
            <%= "-#{discount_perc}% = -#{discount_unit}€" %>
        <% end %>
        <br>--
        <br>IVA:
        <%= "#{iva_perc}% = #{iva_unit.round(2)}€" %>
        <br>--
        <br>
        <strong>
          Unit final price:
          <%= "#{(price_unit-discount_unit+iva_unit+valor_iec).round(2)}€" %>
          <% if discount_perc==100 && product_total_points > 0%> <br><%="(#{points_unit.round} Points)"%> <%end%>
        </strong>
    <% else %>
        <!-- Checkout overview -->
        <%= "#{(price_unit-discount_unit+iva_unit+valor_iec).round(2)}€" %>
        <% if discount_perc==100 && product_total_points > 0%> <br><%="(#{points_unit.round} Points)"%> <%end%>
    <% end %>
  </td>

  <td class="text-center">
    <% if is_update_form %>
        <input name=<%= "cart[#{key}]" %> type="number" value=<%= product['quantity'] %> min="0" max="100" step="1" class="custom-form-control">
        <%= link_to({controller: 'shopping_carts', action: 'remove_item', item: key}, :method => :post) do %>
            <span class="glyphicon glyphicon-remove"></span>
        <% end %>
    <% else %>
        <%= product['quantity'] %>
    <% end %>
  </td>


  <td class="text-center">
    <% if is_show_details %>
        <!-- Checkout preview -->
        <%= "Products price: #{price_unit*quantity}€" %>
        <% if valor_iec> 0.0 %>
            <br>--
            <br>IEC:
            <%= valor_iec %>
        <% end %>
        <% if discount_unit > 0 %>
            <br>--
            <br>Discount:
            <%= "-#{discount_perc}% = -#{product_total_discount.round(2)}€" %>
        <% end %>
        <br>--
        <br>IVA:
        <%= "#{iva_perc}% = #{product_total_iva.round(2)}€" %>
        <br>--
        <br>
        <strong>
          Final price:
          <%= "#{(product_total_liquid + product_total_iva + product_total_iec).round(2)}€" %>
          <% if discount_perc==100 && product_total_points > 0%> <br><%="(#{product_total_points.round} Points)"%> <%end%>
        </strong>
    <% else %>
        <!-- Checkout overview -->
        <%= "#{(product_total_liquid + product_total_iva + product_total_iec).round(2)}€" %>
        <% if discount_perc==100 && product_total_points > 0%> <br><%="(#{product_total_points.round} Points)"%> <%end%>
    <% end %>
  </td>
</tr>