<!-- PRODUCT -->

<div class="col-md-3 col-sx-12 product">
  <div class="row">
    <div class="col-md-12">
      <%= image_tag get_image_for_product(p), class: 'img-responsive' %>
    </div>
  </div>
  <div class="row product-desc">
    <div class="col-md-12">
      <h5><%= link_to p['Description'], product_path(p['CodProduct']) %></h5>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="price-details">
        <div class="price-number">
          <% if params[:filterPoints] %> <p><span class="rupees" <%if current_user.current_points < p['Points'].round()%>style="color:red"<%end%>><%= p['Points'].round() %> points</span></p>
          <% else %>
              <% if p['Discount'] == 0.0 %>
                  <p style="margin-bottom:0; padding-bottom:0;"><span class="rupees"><%= p['Price'].round(2) %>€</span>
                  </p>
              <% else %>
                  <p style="margin-bottom:0; padding-bottom:0;">
                    <span class="rupees"><%= (p['Price']-(p['Discount']/100*p['Price'])).round(2) %>€</span>
                    <del><%= p['Price'].round(2) %>€</del>
                  </p>
              <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <% if p['Discount'] > 0.0 && !params[:filterPoints] %>
      <div class="row">
        <div class="col-md-12">
          <p class="discount" align="right">(<%= p['Discount'].round() %>% off)</p>
        </div>
      </div>
  <% end %>
  <% if p['Discount'] == 0.0 && !params[:filterPoints] %>
      <div class="row">
        <div class="col-md-12">
          <p class="discount" align="right" style="visibility: hidden;">(<%= p['Discount'].round() %>% off)</p>
        </div>
      </div>
  <% end %>

  <div class="row">
    <div class="col-md-12">
      <div class="add-cart">
        <% if !params[:filterPoints] || current_user.current_points >= p['Points'].round()%>
            <h4><%= link_to 'Add to Cart', {controller: 'shopping_carts', action: 'add_item', item: p['CodProduct']}, :method => :post %></h4>
        <% end %>
      </div>
    </div>
  </div>

  <div class="clear"></div>

</div>

<!-- /PRODUCT -->