<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

  <%= render partial: 'layouts/header', locals: {categories: @categories, stores: @stores} %>

  <% flash.each do |message_type, message|%>
      <div class="alert alert-<%=message_type%>"> <%=message%> </div>
  <%end%>

  <%= yield %>

  <%= render 'layouts/footer' %>

</div>


</body>
</html>
